<dx-data-grid
  keyExpr="id"
  [dataSource]="dataSource"
  [showBorders]="true"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
  [wordWrapEnabled]="true"
  [focusedRowEnabled]="true"
  [autoNavigateToFocusedRow]="true"
  [hoverStateEnabled]="true"
  [repaintChangesOnly]="true"
  (onRowClick)="onRowClick($event)"
  (onFocusedRowChanging)="onFocusedRowChanging($event)"
  (onToolbarPreparing)="onToolbarPreparing($event)"
  noDataText="{{'devextreme.emptyMessage' | translate}}"
  height="600px"
  [columns]="columns"
>
  <dxo-search-panel
    [visible]="true"
    [highlightSearchText]="false"
    placeholder="{{'devextreme.search' | translate}}"
  ></dxo-search-panel>
  <dxo-editing
    [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true"
  >
  </dxo-editing>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
  <dxo-sorting
    mode="single"
    ascendingText="{{'devextreme.sortAscending' | translate}}"
    descendingText="{{'devextreme.sortDescending' | translate}}"
    clearText="{{'devextreme.sortClear' | translate}}"
    showSortIndexes="false"
  ></dxo-sorting>
  <dxo-scrolling [useNative]="true"></dxo-scrolling>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="[5, 10, 15, 25, 50, 100]"
    displayMode="full"
    [showPageSizeSelector]="true"
    [showInfo]="false"
    [showNavigationButtons]="true"
  ></dxo-pager>
  <dxo-paging
    [pageSize]="15"
    [pageIndex]="0"
  ></dxo-paging>

  <div *dxTemplate="let data of 'typeCell'">
    {{'taskManagement.taskTypes.' + data.data.type | translate}}
  </div>
</dx-data-grid>
