@import "devextreme/dist/css/dx.material.purple.light.css";
@import "styles/spacing-generator";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
}

.success-snackbar {
    background-color: #3f51b5 !important;
    color: white !important;
}
